.sectionCard {
  border-radius: 20px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

/* 오늘의 습관 제목 + 목록 수정 버튼 */
.sectionTop {
  width: 400px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.title {
  margin: 0;
  grid-column: 2;
  text-align: center;

  color: var(--black-black_414141, #414141);
  font-size: 24px;
  font-weight: 800;
}

/* 목록 수정 버튼 */
.button {
  grid-column: 3;
  justify-self: end;

  border: none;
  background: none;

  color: var(--gray-gray_818181, #818181);
  font-size: 14px;
  font-weight: 500;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.habitItem {
  border: none;
  border-radius: 20px;
  width: 400px;
  height: 54px;
  background: var(--gray-gray_EEEEEE, #eee);

  color: var(--gray-gray_818181, #818181);
  font-size: 16px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkedHabitItem {
  background: var(--brand-brand_99C08E, #99c08e);
  color: #fff;
}

/* Mobile */
@media (max-width: 375px) {
  .sectionCard {
    padding: 24px 16px;
  }

  .sectionTop {
    width: 280px;
  }

  .title {
    font-size: 18px;
  }

  ul {
    gap: 12px;
  }

  .habitItem {
    width: 280px;
  }
}
