.sectionCard {
  margin-top: 24px;
  border-radius: 20px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  padding: 64px 16px;

  display: flex;
  justify-content: center;
}

.sectionInner {
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 오늘의 습관 제목 + 목록 수정 버튼 */
.sectionTop {
  width: 100%;
  min-height: 29px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title {
  margin: 0;

  color: var(--black-black_414141, #414141);
  font-size: 24px;
  font-weight: 800;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 목록 수정 버튼 */
.button {
  border: none;
  background: none;

  color: var(--gray-gray_818181, #818181);
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  right: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.habitItem {
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 54px;
  background: var(--gray-gray_EEEEEE, #eee);

  color: var(--gray-gray_818181, #818181);
  font-size: 16px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkedHabitItem {
  background: var(--brand-brand_99C08E, #99c08e);
  color: #fff;
}

/* Mobile */
@media (max-width: 375px) {
  .sectionCard {
    padding: 24px 16px;
  }

  .title {
    font-size: 18px;
  }

  ul {
    gap: 12px;
  }
}
