.button {
  width: 252px;
  height: 58px;
  padding: 10px;
  border: none;
  border-radius: 14px;
  background: #99c08e;
  cursor: pointer;
}

.text {
  color: #ffffff;
  text-align: center;
  font-family: EF_jejudoldam;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 -2px 0 #578246;
}

@media (max-width: 744px) {
  .button {
    width: 160px;
  }
}

@media (max-width: 375px) {
  .button {
    width: 106px;
    height: 38px;
    border-radius: 8px;
  }
  .text {
    font-size: 12px;
  }
}
