.section {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  margin: 0;
  color: #414141;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.searchToggle {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.searchContainer {
  display: flex;
  width: 295px;
  padding: 12px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  background: #fff;
}

.searchIcon {
  width: 18px;
  height: 18px;
}
.searchInput {
  border: none !important;
  outline: none;
  flex: 1;
  height: 20px;
  font-size: 14px;
}

.toggleContainer {
  display: flex;
  width: 180px;
  padding: 9px 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #ddd;
  background: #fff;
  box-sizing: border-box;
}

.toggleIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.toggleText {
  color: #818181;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(8px);
  width: 180px;
  height: 176px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdownItem {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 16px;
  color: var(--black-black_414141, #414141);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #f0f0f0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}

.moreBtn {
  display: block;
  margin: 60px auto 0;
  padding: 17px 119px;
  background: #fff;
  color: #578246;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.empty {
  color: var(--gray-gray_818181, #818181);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 243px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (min-width: 1px) {
  .section {
    padding: 40px;
    gap: 24px;
  }
  .searchContainer {
    width: 100%;
    max-width: 280px;
    width: 280px;
  }
  .toggleContainer {
    width: 160px;
    padding: 8px 12px;
    font-size: 13px;
  }
  .grid {
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .moreBtn {
    padding: 17px 119px;
  }

  .dropdownMenu {
    width: 160px;
    right: 0;
  }
}