.section {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  margin: 0;
  color: #414141;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.searchToggle {
  height: 42px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}

.moreBtn {
  display: block;
  margin: 60px auto 0;
  padding: 17px 119px;
  background: #fff;
  color: #578246;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}
