.section {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  margin: 0;
  color: #414141;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.grid {
  display: flex;
  gap: 24px;
}

.empty {
  color: var(--gray-gray_818181, #818181);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 243px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (min-width: 1px) {
  .grid {
    display: flex;
    overflow-x: auto;
    gap: 24px;
    scrollbar-width: none;
  }

  .grid > * {
    flex: 0 0 auto;
    min-width: 260px;
  }
}
