.studyCard {
  width: 100%;
  max-width: 358px;
  height: 243px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.info {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  flex: 1;
  margin: 0;
  -webkit-line-clamp: 1; /* 강사님이 ellipsis 사용추천했지만*/
  line-clamp: 1;         /* ellpsis 상위호환 lice-clamp사용*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.points {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #414141;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
  padding: 4px 8px;
  border-radius: 50px;
}

.pointIcon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
}

.days {
  font-size: 14px;
  color: #666;
  margin: 0;
  font-weight: 500;
  margin-bottom: 30px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #414141;
  line-height: 24px;
  flex: 1;
  margin: 0;
  -webkit-line-clamp: 3; /* 강사님이 ellipsis 사용추천했지만*/
  line-clamp: 3;         /* ellpsis 상위호환 lice-clamp사용*/
  -webkit-box-orient:vertical;
  overflow: hidden;
  display: -webkit-box;
}

.emojiContainer {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 5px;
  max-width: 55%;
}

.emoji {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 6px 8px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
  justify-content: center;
}

.count {
  color: #fff;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
