.text {
  color: var(--gray-gray_818181, #818181);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  height: 511px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media (max-width: 375px) {
  .text {
    font-size: 16px;
    height: 244px;
  }
}
