.statsContainer {
  border: 1px solid var(--gray-03);
  border-radius: 50px;
  padding: 30px 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: 800;
  line-height: 100%;
  color: var(--gray-01);
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.summaryContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-03);
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 16px;
  text-align: center;
  word-break: keep-all;
  box-sizing: border-box;
}

.rateDisplay {
  border-top: 1px solid var(--gray-03);
  padding: 90px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.donutChart {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  gap: 10px;
}

.focusChart {
  border-top: 1px solid var(--gray-03);
  padding: 90px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 744px) {
  .summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 30px;
  }

  .summaryContent {
    font-size: 14px;
    padding: 5px 8px;
    margin: 0;
  }

  .rateDisplay {
    padding: 60px 0 60px;
  }

  .focusChart {
    padding: 60px 0 30px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 24px;
  }

  .summary {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .summaryContent {
    padding: 5px 0;
  }

  .rateDisplay {
    padding: 40px 0 40px;
    flex-direction: column;
    gap: 30px;
  }

  .focusChart {
    padding: 40px 0 20px;
  }
}
