.statsContainer {
  border: 1px solid var(--gray-03);
  border-radius: 50px;
  padding: 30px 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: 800;
  line-height: 100%;
  color: var(--gray-01);
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.summaryContent {
  border: 1px solid var(--gray-03);
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 16px;
}

.pointChart {
  border-top: 1px solid var(--gray-03);
  padding: 80px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

@media (max-width: 375px) {
  .title {
    font-size: 24px;
  }

  .summary {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .pointChart {
    padding: 40px 0 20px;
  }
}
