.focusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--gray-03);
  border-radius: 50px;
  padding: 64px 0;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
  color: var(--gray-01);
}

@media (max-width: 375px) {
  .focusContainer {
    padding: 64px 0 40px;
  }
}