.donutContainer {
  width: 60%;
  max-width: 400px;
  margin: 0 auto;
}

.donutSvg {
  display: block;
  width: 100%;
  height: auto;
}

.backgroundCircle {
  fill: none;
  stroke: var(--gray-04);
}

.mainCircle {
  fill: none;
  stroke: var(--green-01);
  stroke-linecap: round;
  transition: stroke-dashoffset 0.6s ease-in-out;
}

.percentageText {
  font-size: 30px;
  font-weight: bold;
  fill: var(--gray-01);
}

.subText {
  font-size: 12px;
  fill: var(--gray-02);
}
