.donutContainer {
  width: 60%;
  max-width: 400px;
  margin: 0 auto;
}

.donutSvg {
  display: block;
  width: 100%;
  height: auto;
}

.backgroundCircle {
  fill: none;
  stroke: #eeeeee;
}

.mainCircle {
  fill: none;
  stroke: #578246;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.6s ease-in-out;
}

.percentageText {
  font-size: 30px;
  font-weight: bold;
  fill: #333333;
}

.subText {
  font-size: 12px;
  fill: #999999;
}
