.chartContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chartHeader {
  width: 100%;
  padding-left: 10%;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.chartTitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--gray-01);
}

.focusChartSVG {
  display: block;
  width: 85%;
  height: auto;
  margin: 0 auto;
}

.chartGridLine {
  stroke: var(--gray-04);
  stroke-dasharray: 4 4;
  stroke-width: 1;
}

.chartAxisLabel {
  font-size: 12px;
  fill: var(--gray-02);
}

.chartBar {
  transition:
    fill 0.3s ease,
    height 0.3s ease,
    y 0.3s ease;
  fill: #99c08e;
  opacity: 0.5;
}

.chartBarZero {
  fill: #f5f5f5;
}

.chartBarToday {
  fill: var(--green-01);
  opacity: 0.6;
}

.dayLabel {
  font-size: 12px;
  fill: var(--gray-02);
}

.dayLabelToday {
  font-size: 12px;
  font-weight: bold;
  fill: var(--gray-01);
}

.focusLine {
  fill: none;
  stroke: var(--green-01);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.focusDot {
  fill: var(--green-01);
  stroke: #ffffff;
  stroke-width: 0;
}

.focusDotToday {
  fill: var(--green-03);
  stroke: #ffffff;
  stroke-width: 2;
}

.timeLabel {
  font-size: 11px;
  font-weight: bold;
  fill: var(--gray-01);
}

.legendContainer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 12px;
  padding-right: 10%;
}

.legendContent {
  display: flex;
  align-items: center;
  gap: 6px;
}

.legendBar {
  width: 20px;
  height: 20px;
  background-color: #99c08e;
  opacity: 0.6;
  display: inline-block;
  border-radius: 2px;
}

.legendLine {
  width: 25px;
  height: 5px;
  background-color: var(--green-01);
  display: inline-block;
  border-radius: 5px;
}

.legendLabel {
  font-size: 14px;
  color: var(--gray-02);
}

@media (max-width: 744px) {
  .chartTitle {
    font-size: 16px;
  }

  .legendLabel {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .chartTitle {
    font-size: 12px;
  }

  .legendContainer {
    display: none;
  }
}
