.timerControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeList,
.timeListHidden {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
  margin-bottom: 20px;

  visibility: visible;
  transition: opacity 0.2s ease;
}

.timeListHidden {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
  margin-bottom: 20px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.timeSelectButton {
  width: 85px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-01);
  cursor: pointer;
}

.timerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.leftButton,
.centerButton,
.rightButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftButton {
  justify-content: flex-end;
}

.rightButton {
  justify-content: flex-start;
}

.placeholder {
  width: 60px;
  height: 60px;
}

.iconOnlyButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--green-01);
  color: white;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.startButton,
.stopButton {
  background-color: var(--green-01);
  color: white;
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 50px;
  font-size: 28px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.startButton:disabled {
  background-color: var(--green-02);
  cursor: not-allowed;
  pointer-events: none;
}

.iconOnlyButton:disabled {
  background-color: var(--green-02);
  cursor: not-allowed;
  pointer-events: none;
}

.iconOnlyButton:focus,
.startButton:focus,
.stopButton:focus {
  outline: none;
}

@media (max-width: 375px) {
  .timeList {
    margin-bottom: 12px;
  }

  .timeListHidden {
    margin-bottom: 12px;
  }

  .timeSelectButton {
    width: 75px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
  }

  .timerButtons {
    gap: 8px;
  }
  .startButton,
  .stopButton {
    width: 140px;
    height: 40px;
    font-size: 20px;
  }

  .iconOnlyButton {
    width: 40px;
    height: 40px;
    font-size: 28px;
  }

  .placeholder {
    width: 40px;
    height: 40px;
  }
}
