.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.studyTitle {
  font-size: 32px;
  font-weight: 800;
  color: #414141;
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.introSection {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.introTitle {
  margin: 0;
  font-weight: 400;
  color: var(--gray-gray_818181, #818181);
}

.introText {
  margin: 0;
  font-weight: 500;
  line-height: 26px;
  color: var(--black-black_414141, #414141);
}

.totalPoint {
  margin: 24px 0 40px;
}

/* Mobile */
@media (max-width: 375px) {
  .top {
    flex-direction: column;
    align-items: stretch;
  }

  .studyTitle {
    font-size: 24px;
  }

  .nav {
    gap: 8px;
    margin-bottom: 16px;
  }

  .introTitle {
    font-size: 16px;
  }

  .introText {
    font-size: 14px;
  }

  .totalPoint {
    margin-bottom: 24px;
  }
}
