* {
  box-sizing: border-box;
}

/* 모달 배경 오버레이 */
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 컨테이너 */
.modal {
  position: relative;
  width: 648px;
  padding: 24px;
  background: #fff;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* 헤더 영역 (스터디 제목 + 나가기 버튼) */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 스터디 제목 */
.title {
  font-size: 24px;
  font-weight: 800;
  color: var(--black-black_414141, #414141);
}

/* 나가기 버튼 */
.closeButton {
  position: absolute;
  right: 24px;

  border: none;
  background: none;

  font-size: 16px;
  font-weight: 500;
  color: #578246;
}

/* 안내 문구 */
.subTitle {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-gray_818181, #818181);
}

/* 비밀번호 라벨 */
.inputLabel {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-black_414141, #414141);
}

/* 비밀번호 입력창, 비밀번호 토글 wrapper */
.inputWrapper {
  position: relative;
  margin: 16px 0 40px;
}

/* 비밀번호 입력창 */
.passwordInput {
  width: 100%;
  padding: 12px 20px;

  border-radius: 15px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  background: #fff;

  &:focus {
    outline: none;
    border-color: #99c08e;
    box-shadow: 0 0 0 1px #99c08e;
  }
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.passwordToggle img {
  display: block;
}

.submitButton {
  width: 100%;
}

/* Mobile */
@media (max-width: 375px) {
  .modal {
    width: 344px;
    padding: 27px 16px;
  }

  .title {
    font-size: 18px;
  }

  .closeButton {
    bottom: 30px;
    right: 98px;
    left: 98px;
  }

  .inputWrapper {
    margin-bottom: 24px;
  }

  .submitButton {
    margin-bottom: 45px;
  }
}
