.page {
  min-height: 100vh;
  /* padding: 60px 20px; */
  background: var(--bg-bg_F6F4EF, #f6f4ef);
}

.topBar {
  margin: 0 auto;
  max-width: 1480px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 182px;
  height: auto;
}

.container {
  max-width: 1248px;
  margin: 40px auto 0;
  padding: 40px;
  border-radius: 20px;
  background: #ffffff;
}

@media (max-width: 375px) {
  .topBar {
    padding: 32px 0;
  }
  .logo {
    width: 106px;
    height: auto;
  }

  .container {
    margin: 20px auto 0;
  }
  .container {
    padding: 16px;
  }
}
