/* 모달 배경 오버레이 */
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 모달 컨테이너 */
.modal {
  width: 648px;
  padding: 40px 24px;
  background: #fff;

  border-radius: 20px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  margin: 0;
  color: var(--black-black_414141, #414141);
  font-size: 24px;
  font-weight: 800;
  align-self: center;
}

/* 습관 리스트 */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 습관 입력 인풋 + 습관 삭제 버튼 */
.listItem {
  display: grid;
  grid-template-columns: 48px 400px 48px;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

/* 습관 입력 인풋 */
.habitInput {
  grid-column: 2;
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 20px;
  background: var(--gray-gray_EEEEEE, #eee);

  color: var(--gray-gray_818181, #818181);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* 습관 삭제 버튼 */
.deleteButton {
  border: none;
  background: none;
  cursor: pointer;
}

/* 습관 추가 버튼 */
.addButton {
  margin: 0 auto;
  width: 400px;
  height: 54px;

  border-radius: 20px;
  border: 2px solid var(--black-black_414141, #414141);
  background: rgba(255, 255, 255, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 하단 버튼 영역 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.cancelButton {
  border-radius: 16px;
  background: #ddd;
}

@media (max-width: 375px) {
  .modal {
    width: 344px;
    padding: 16px 16px 24px;
  }

  .title {
    font-size: 20px;
  }

  .listItem {
    grid-template-columns: 256px 48px;
  }

  .habitInput {
    grid-column: 1;
    font-size: 14px;
  }

  .addButton {
    width: 100%;
  }

  .cancelButton,
  .submitButton {
    width: 140px;
    height: 58px;
  }
}
