/* 스터디 이름 + 페이지 이동 버튼 */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  color: #414141;
  font-size: 32px;
  font-weight: 800;
}

.navButtonWrapper {
  display: flex;
  gap: 16px;
}

.currentTime {
  margin-top: 16px;
}

/* Mobile */
@media (max-width: 375px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  
  .title {
    font-size: 24px;
  }

  .navButtonWrapper {
    gap: 8px;
  }
}
