.container {
  max-width: 1200px;
  margin: 40px auto 0;
  padding: 40px;
  border-radius: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.browseSection {
  margin-bottom: 120px;
}

.title {
  margin: 0;
  color: #414141;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.empty {
  color: #818181;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 243px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recentList {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-right: -40px;
  padding-right: 40px;
}

.recentList::-webkit-scrollbar {
  display: none;
}

.recentList > * {
  flex-shrink: 0;
}

@media (max-width: 744px) {
  .container {
    margin: 24px;
    padding: 24px;
    border-radius: 20px;
  }

  .recentList {
    margin-right: -24px;
    padding-right: 24px;
  }
}

@media (max-width: 375px) {
  .container {
    margin: 16px;
    padding: 16px;
  }

  .recentList {
    margin-right: -16px;
    padding-right: 16px;
  }
}
