.container {
  max-width: 1200px;
  margin: 40px auto 0;
  padding: 40px;
  border-radius: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 744px) {
  .container {
    margin: 24px;
    padding: 24px;
    border-radius: 20px;
  }
}

@media (max-width: 375px) {
  .container {
    margin: 16px;
    padding: 16px;
  }
}
