/* 라벨 있을 때 레이아웃 */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.pointBadge {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
  padding: 8px 12px;

  display: inline-flex;
  gap: 4px;
}

/* 상단 설명 텍스트 */
.label {
  margin: 0;
  color: var(--gray-gray_818181, #818181);
  font-size: 18px;
  font-weight: 400;
}

/* 포인트 텍스트 */
.text {
  color: var(--black-black_414141, #414141);
  font-size: 16px;
  font-weight: 500;
}

/* Mobile */
@media (max-width: 375px) {
  .label {
    font-size: 16px;
  }
}
